:root{
    --yellow-theme-background-color : #931818;
    --yellow-theme-nav-background-color: #b3c515;
    --yellow-theme-main-color: #81410c;
    --yellow-theme-sub-text-color: #d8a819;
    --yellow-theme-border-color: #f40646;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body{
    background-color: var(--yellow-theme-background-color);
    height: 100%;
}
#root{
    height:100%;
}